<ul class='countries'>
  {{!-- {{#each countries}} --}}
  <li class='countries__item'>
    <img
      src='{{country.flags.svg}}'
      alt='{{country.name.official}}'
      class='countries__flag'
    />
    <p class='contries__name'>{{country.name.official}}</p>
  </li>
  {{!-- {{/each}} --}}
</ul>